.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
    border-radius: 20px;

}

.container > button {
   margin-bottom: 10px;
   background-color:peru;
   border-radius: 20px;
   border: 0;
}

