<%- include("partials/header.ejs") %>

<!-- content starting -->
<main class="main-wrapper">
    <div class="body-container">
      <article class="main-form">
        <div class="form-container">
          <h1>What's News?</h1>

          <form action="/create" method="POST">
            <div>
              <input type="text" name="title" placeholder="Title">
            </div>

            <div>
              <textarea name="description" placeholder="Description"></textarea>
            </div>

            <div>
              <button type="submit">Post</button>
            </div>
          </form>
      </div>
      </article>

    </div>



<%- include("partials/footer.ejs") %>