.nav-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 30px;
    margin-top: 15px;
}

.nav-list a {               
    text-decoration: none;
    color: black;
    background-color: grey;
    padding: 5px;
}

.carousel-item > img{
    width: 80%;
    height: 500px;

}

.main-wrapper {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

.article-header {
    margin-top: 30px;
    margin-bottom: 20px;

}

.card {
    position: relative;
}

.btn-closed {
    border-style: none;
    background-color: transparent;
    color: gray;
    position: absolute;
    cursor: pointer;
    right: 0;
}

.btn-closed:hover {
    position: absolute;
    cursor: pointer;
    color: black;
    right: 0;
    background-color: brown;
}

.card-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-left: 5em;
}

.card > img {
    width: 250px;
    height: 220px;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-text {
    flex-grow: 1;
}

.card .btn {
    margin: auto;
}

.main-form {
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 211, 211);
    width: 300px;    
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    margin-top: 100px;
}

.form-container > h1 {
    font-size: 30px;
}

    
