.nav-container {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 30px;
}

.nav-list a {               
    text-decoration: none;
    color: black;
    background-color: grey;
    padding: 5px;
}
